extend ../layout

block content
	.container
		.row
			//enctype属性为了提交表单时分割属性，可以不同类型数据的提交，需要使用到express.multipart中间件，在app中添加
			form.form-horizontal(method="post", enctype="multipart/form-data" action="/admin/movie",style="height:800px;")
				if movie._id
					//- 隐藏输入框，作为更新页标志用
					input(type="hidden",name="movie[_id]",value=movie._id)
				.form-group
					label.col-sm-2.control-label 豆瓣同步
					.col-sm-10
						input#douban.form-control(type="text")
				.form-group
					label.col-sm-2.control-label(for="inputCategory") 电影分类
					.col-sm-10
						//- 踩坑地点：input里的name（categoryName）必须与value里面的categoryName必须一致，否则提交处理
						input#inputCategory.form-control(type="text",name="movie[categoryName]",value=movie.categoryName)
				.form-group
					label.col-sm-2.control-label(for="inputCategory") 分类选择			
					each cat in categories
						label.radio-inline
							//- 有movie._id说明是更新,且在pug中if，else不能用花括号括起来使用
							if movie._id
								input(type="radio",name="movie[category]",value=cat._id,checked=cat._id.toString()==movie.category.toString())
								|	#{cat.name}
							else
								input(type="radio",name="movie[category]",value=cat._id) 
								|	#{cat.name}
														
				.form-group
					label.col-sm-2.control-label(for="inputTitle") 电影名字
					.col-sm-10
						input#inputTitle.form-control(type="text",name="movie[title]",value=movie.title)
				.form-group
					label.col-sm-2.control-label(for="inputDoctor") 电影导演
					.col-sm-10
						input#inputDoctor.form-control(type="text",name="movie[doctor]",value=movie.doctor)
				.form-group
					label.col-sm-2.control-label(for="inputCountry") 国家
					.col-sm-10
						input#inputCountry.form-control(type="text",name="movie[country]",value=movie.country)
				.form-group
					label.col-sm-2.control-label(for="inputLanguage") 语种
					.col-sm-10
						input#inputLanguage.form-control(type="text",name="movie[language]",value=movie.language)
				.form-group
					label.col-sm-2.control-label(for="inputPoster") 海报地址
					.col-sm-10
						input#inputPoster.form-control(type="text",name="movie[poster]",value=movie.poster)
				.form-group
					label.col-sm-2.control-label(for="uploadPoster") 上传海报
					.col-sm-10
						input#inputPoster.form-control(type="file",name="uploadPoster")
				.form-group
					label.col-sm-2.control-label(for="inputFlash") 片源地址
					.col-sm-10
						input#inputFlash.form-control(type="text",name="movie[flash]",value=movie.flash)
				.form-group
					label.col-sm-2.control-label(for="inputYear") 上映年代
					.col-sm-10
						input#inputYear.form-control(type="text",name="movie[year]",value=movie.year)
				.form-group
					label.col-sm-2.control-label(for="inputSummary") 电影简介
					.col-sm-10
						input#inputSummary.form-control(type="text",name="movie[summary]",value=movie.summary)
				.form-group
					label.col-sm-offset-2.control-sm-10
					button.btn.btn-default(type="submit") 录入
	script(src="/js/admin.js")









